<Files ~ "^.*\.([Ee][Nn][Vv])$">
    Order allow,deny
    Deny from all
    Satisfy all
</Files>

<IfModule mod_rewrite.c>

    RewriteEngine On

    # Remove www
    RewriteCond %{HTTP_HOST} ^www\.drsanilsinhasan\.com$ [NC]
    RewriteRule ^(.*)$ https://drsanilsinhasan.com/$1 [R=301,L]

    # Remove trailing slash
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [R=301,L]

    # OLD PHP PAGE REDIRECTS
    RewriteRule ^about\.php$ https://drsanilsinhasan.com/about [R=301,L]
    RewriteRule ^depression-psychosis\.php$ https://drsanilsinhasan.com/services/depression-psychosis [R=301,L]
    RewriteRule ^counselling\.php$ https://drsanilsinhasan.com/services/counselling [R=301,L]
    RewriteRule ^childhood-problems\.php$ https://drsanilsinhasan.com/services/childhood-problems [R=301,L]
    RewriteRule ^anxiety-disorder\.php$ https://drsanilsinhasan.com/services/anxiety-disorder [R=301,L]
    RewriteRule ^deaddiction\.php$ https://drsanilsinhasan.com/services/deaddiction [R=301,L]
    RewriteRule ^patient-info\.php$ https://drsanilsinhasan.com/gallery/videos [R=301,L]

    # Laravel Front Controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]

</IfModule>

# php -- BEGIN cPanel-generated handler
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php74 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler